nav {
    position: absolute;
    text-align: center;
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    background-color: #222;
    opacity: .75;
    z-index: 10;
    top: -15%;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 200;
}

nav a:hover {
    text-shadow: #fff 1px 0 10px;
}

.navUp {
    top: -12%;
}

.navDown {
    top: 0%;
}

.navButton {
    position: absolute;
    opacity: 0.5;
    top: 45%;
}

.navButton:hover {
    opacity: 1;
    cursor: pointer;
}

.active {
    transform: rotate(270deg) scale(20%);
}

.inactive {
    transform: rotate(90deg) scale(20%);
}